@import 'base/base-all';

* {
  box-sizing: border-box;
}

html,
body,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
header,
footer,
section,
aside,
nav,
article,
figure,
address,
audio,
video {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  min-height: 100%;
  position: relative;
  font-size: 100%;

  @include devices(mobile) {
    font-size: 80%;
  }

  @include devices(tablet) {
    font-size: 80%;
  }

  @include devices(tablet-landscape) {
    font-size: 85%;
  }

  @include devices(scaledRatio) {
    font-size: 85%;
  }
}

body {
  font-family: $primary_regular;
  font-size: $font_size_16;
  line-height: 1.625rem;
  color: $white;
  font-weight: 400;
  text-decoration: none;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $bodyColor;
  margin-bottom: 0;
  font-family: $primary_bold;
  font-weight: normal;
}

h3 {
  font-size: 2.5rem;
  line-height: 3.125rem;
  font-family: $primary_bold;
}

h4 {
  font-size: 1.75rem;
  line-height: 2.375rem;
  font-family: $primary_bold;
}

h5 {
  font-size: 1.375rem;
  line-height: 1.875rem;
  font-family: $primary_bold;
}

input,
button {
  font-family: $primary_regular;
}

.field__blk {
  margin-bottom: 24px;
}

.form-control,
.form-select,
input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
input[type='url'],
input[type='tel'],
input[type='phone'],
input[type='search'],
select,
textarea,
.frm_form_fields_style,
.with_frm_style .frm_scroll_box .frm_opt_container,
.frm_form_fields_active_style,
.frm_form_fields_error_style,
.with_frm_style .frm-card-element.StripeElement,
.with_frm_style .chosen-container-multi .chosen-choices,
.with_frm_style .chosen-container-single .chosen-single,
.with_frm_style input[type='text'],
.with_frm_style input[type='password'],
.with_frm_style input[type='email'],
.with_frm_style input[type='number'],
.with_frm_style input[type='url'],
.with_frm_style input[type='tel'],
.with_frm_style input[type='file'],
.with_frm_style input[type='search'],
.with_frm_style select,
.with_frm_style .frm-card-element.StripeElement,
.with_frm_style textarea {
  border: none;
  border-bottom: 1px solid rgba($color: $primary, $alpha: 0.4);
  height: 45px;
  border-radius: 0;
  width: 100%;
  padding: 0;
  color: $bodyColor !important;
  font-family: $primary_regular;
  background: none;
  font-size: 18px;
  box-shadow: none;
  &:focus {
    box-shadow: none;
    border-color: $primary;
    background: none;
  }
}

.with_frm_style textarea {
  height: 170px;
}

.form-floating {
  margin-bottom: 35px !important;
  .form-control,
  .form-select,
  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='number'],
  input[type='url'],
  input[type='tel'],
  input[type='phone'],
  input[type='search'],
  select,
  textarea,
  .frm_form_fields_style,
  .with_frm_style .frm_scroll_box .frm_opt_container,
  .frm_form_fields_active_style,
  .frm_form_fields_error_style,
  .with_frm_style .frm-card-element.StripeElement,
  .with_frm_style .chosen-container-multi .chosen-choices,
  .with_frm_style .chosen-container-single .chosen-single {
    height: 50px;
    border: none;
    border-bottom: 1px solid rgba($color: $black, $alpha: 1);
    border-radius: 0;
    padding: 10px 0 5px !important;
    font-family: $primary_regular;
    background: none;
    font-size: 16px;
    color: $black;
    box-shadow: none;

    &:focus {
      outline: none;
      box-shadow: none;
      background: none;
    }
  }

  label,
  .frm_primary_label {
    height: auto;
    top: -2px;
    left: 0;
    padding: 0.5rem 0;
    color: $black;
    font-family: $primary_bold;
    font-size: 1.125rem;
  }

  textarea.form-control {
    height: 100px;
    padding: 30px 0 !important;
    resize: none;
  }
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label,
.form-floating > .form-control:focus ~ .frm_primary_label,
.form-floating > .form-control:not(:placeholder-shown) ~ .frm_primary_label,
.form-floating > .form-select ~ .frm_primary_label,
.form-floating > input[type='text']:focus ~ .frm_primary_label,
.form-floating > input[type='password']:focus ~ .frm_primary_label,
.form-floating > input[type='email']:focus ~ .frm_primary_label,
.form-floating > input[type='number']:focus ~ .frm_primary_label,
.form-floating > input[type='url']:focus ~ .frm_primary_label,
.form-floating > input[type='tel']:focus ~ .frm_primary_label,
.form-floating > input[type='phone']:focus ~ .frm_primary_label,
.form-floating > input[type='search']:focus ~ .frm_primary_label,
.form-floating > select:focus ~ .frm_primary_label,
.form-floating > textarea:focus ~ .frm_primary_label,
.form-floating
  > input[type='text']:not(:placeholder-shown)
  ~ .frm_primary_label,
.form-floating
  > input[type='password']:not(:placeholder-shown)
  ~ .frm_primary_label,
.form-floating
  > input[type='email']:not(:placeholder-shown)
  ~ .frm_primary_label,
.form-floating
  > input[type='number']:not(:placeholder-shown)
  ~ .frm_primary_label,
.form-floating > input[type='url']:not(:placeholder-shown) ~ .frm_primary_label,
.form-floating > input[type='tel']:not(:placeholder-shown) ~ .frm_primary_label,
.form-floating
  > input[type='phone']:not(:placeholder-shown)
  ~ .frm_primary_label,
.form-floating
  > input[type='search']:not(:placeholder-shown)
  ~ .frm_primary_label,
.form-floating > select:not(:placeholder-shown) ~ .frm_primary_label,
.form-floating > textarea:not(:placeholder-shown) ~ .frm_primary_label {
  opacity: 1;
  transform: translateY(-20px);
}

.form-floating > textarea.form-control:focus,
.form-floating > textarea.form-control:not(:placeholder-shown) {
  height: 100px;
  padding: 30px 0 !important;
  resize: none;
}

textarea.form-control {
  height: 100px;
  padding: 0 0 0 80px;
  resize: none;
}

.with_frm_style {
  .frm_primary_label {
    display: flex !important;
    align-items: center;
    font-size: $font_size_20;
    font-family: $primary_bold;
    color: $bodyColor !important;

    strong {
      font-size: 14px;
      font-family: $primary;
      margin-right: 60px;
    }
  }
}

select {
  // appearance: none;
  // -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: $black !important;
}

:-ms-input-placeholder {
  color: $black !important;
}

::placeholder {
  color: $black !important;
}

.form-floating > .form-control::-webkit-input-placeholder {
  font-size: 0 !important;
}

.form-floating > .form-control:-ms-input-placeholder {
  font-size: 0 !important;
}

.form-floating > .form-control::placeholder {
  font-size: 0 !important;
}

strong {
  font-weight: 400;
  font-family: $primary_bold;
}

small {
  color: #666;
  font-size: 0.6875rem;
}

:focus {
  outline: none;
}

a {
  text-decoration: none;
  font-family: $primary_regular;
}

a:focus {
  outline: none;
}

p {
  line-height: 1.625rem;
  font-size: $font_size_16;
  color: $bodyColor;
  font-family: $secondary_regular;

  // &:not(:first-child) {
  //   margin: 1.75rem 0;
  // }

  @include devices(mobile-tablet) {
    font-size: 1.3rem;
    line-height: 2.2rem;
  }

  @include devices(tablet-landscape) {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  @include devices(laptop) {
    font-size: 1.4rem;
    line-height: 2.25rem;
  }
}

ul {
  padding-left: 15px;
  li {
    margin: 0 0 10px;
    line-height: 1.875rem;
    font-size: 1.125rem;
    font-family: $secondary_regular;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

img {
  border: none;
  outline: none;
}

a {
  color: #278cff;
  text-decoration: none;
  outline: none;
  transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}

a:hover,
a:focus {
  color: $bodyColor;
  text-decoration: none;
  outline: none;
  transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}

.container {
  width: 1230px;
  max-width: 1230px;

  @include devices(mobile-tablet) {
    width: 100%;
    max-width: 100%;
    padding: 0 var(--bs-gutter-x, 0.75rem);
  }

  @include devices(tablet-landscape) {
    width: 100%;
    max-width: 100%;
    padding: 0 30px;
  }

  @include devices(laptop) {
    padding: 0 30px;
    width: 100%;
    max-width: 100%;
  }
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input:-moz-placeholder {
  color: $bodyColor;
  font-size: 1rem;
}

button {
  text-transform: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.form-select:focus {
  box-shadow: none;
}

/* Common CSS end here */

/** owl css **/

body {
  .owl-carousel {
    .owl-nav {
      display: flex;
      margin: 40px 0 0;
      .owl-prev,
      .owl-next {
        width: 82px;
        height: 82px;
        background-color: $secondary;
        border-radius: 0;
        @include transition;

        @include devices(mobile) {
          width: 50px;
          height: 50px;
        }

        span {
          display: none;
        }

        &:hover {
          background-color: rgba($color: $primary, $alpha: 1);
        }

        &.disabled {
          background-color: $light_grey_2;
          cursor: not-allowed;
        }
      }

      .owl-prev {
        background-image: url(../images/left-arw.svg);
        background-repeat: no-repeat;
        background-position: center;

        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% -60%, 0% 40%);

        @include devices(mobile) {
          background-size: 20px 20px;
        }
      }

      .owl-next {
        background-image: url(../images/right-arw.svg);
        background-repeat: no-repeat;
        background-position: center;
        clip-path: polygon(0% 0%, 0% 100%, 60% 110%, 150% 0%, 0% 0%);

        @include devices(mobile) {
          background-size: 20px 20px;
        }
      }
    }

    &.owl__nav__light {
      .owl-nav {
        .owl-prev,
        .owl-next {
          background-color: $white;

          &:hover {
            background-color: $primary;
          }

          &.disabled {
            background-color: $light_grey_2;
          }
        }

        .owl-next {
          background-image: url(../images/right-arw-dark.svg);

          &:hover {
            background-image: url(../images/right-arw.svg);
          }

          &.disabled {
            background: $light_grey_2 url(../images/right-arw.svg) no-repeat
              center;
          }
        }

        .owl-prev {
          background-image: url(../images/left-arw-dark.svg);

          &:hover {
            background-image: url(../images/left-arw.svg);
          }

          &.disabled {
            background: $light_grey_2 url(../images/left-arw.svg) no-repeat
              center;
          }
        }
      }
    }

    .owl-dots {
      position: relative;
      bottom: inherit;
      left: inherit;
      display: flex;
      width: 100%;
      margin: 5rem 0 0;

      &:after {
        content: '';
        width: 100%;
        height: 2px;
        background: rgba($color: $light_grey_5, $alpha: 1);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      .owl-dot {
        height: 6px;
        width: auto;
        background: transparent !important;
        flex: 0 1 100%;
        border-radius: 0;
        z-index: 1;
        transition: all 0.3s ease-in-out;

        &:hover {
          height: 6px;
          background: $secondary !important;
        }

        &.active {
          background: $secondary !important;
        }
      }
    }
  }
}

.form-cstm-fld {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.4rem;
  user-select: none;
  color: rgba(36, 36, 36, 0.75);

  .checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: $bodyColor;
    border: 1px solid $light_grey_6;
    border-radius: 2px;

    &:after {
      content: '';
      position: absolute;
      display: none;
      left: 5px;
      top: 0px;
      width: 7px;
      height: 12px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      background-color: $primary;
      border-color: $primary;
    }

    &:checked ~ .checkmark:after {
      display: block;
    }
  }
}

.form-check {
  padding-left: 40px;
  position: relative;

  .form-check-input,
  input[type='checkbox'] {
    border-radius: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 2px;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid $light_grey_6;
    border-radius: 2px;
    margin: 0;

    &:checked {
      background-image: url(../images/check.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-color: $primary;
      border-color: $primary;
    }
  }
  label {
    color: $light_grey_7 !important;
    font-size: 1.125rem;
    a {
      color: $light_grey_7;
      font-family: $primary_bold;

      &:hover {
        color: $primary;
      }
    }
  }
}

.cntc__person__blk {
  margin: 40px 0 0;
  padding: 40px 0 0;
  border-top: 1px solid rgba(70, 70, 70, 0.3);

  p {
    margin: 0 0 24px;
    font-size: $font_size_22;
    line-height: 22px;
    display: flex;
    align-items: center;

    span {
      color: $secondary;
      font-family: $primary_bold;
      margin-right: 10px;
    }

    a {
      font-size: $font_size_22;
      color: $bodyColor;

      &:hover {
        color: $primary;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.with_frm_style .frm_radio,
.with_frm_style .frm_checkbox {
  label {
    padding-left: 44px !important;
    position: relative;
    text-indent: inherit !important;
    min-height: 30px;
    font-size: 16px;
    line-height: 30px;

    color: $darkGrey !important;
    a {
      color: $darkGrey;
      font-family: $primary_bold;

      &:hover {
        color: $primary;
      }
    }

    input[type='checkbox'] {
      border-radius: 0;
      margin: 0;
      position: absolute;
      left: 0;
      top: 5px;
      width: 20px;
      height: 20px;
      background: transparent;
      border: 1px solid rgba(245, 245, 245, 0.3) !important;
      border-radius: 1px;
      appearance: auto;
      -webkit-appearance: auto;

      &:before {
        display: none;
      }

      &:focus {
        background-color: none !important;
        box-shadow: none !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
      }

      &:checked {
        background-image: url(../images/check.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}

.frm_style_formidable-style.with_frm_style
  .form-field
  input:not([type='file']):focus,
.frm_style_formidable-style.with_frm_style select:focus,
.frm_style_formidable-style.with_frm_style textarea:focus,
.frm_style_formidable-style.with_frm_style
  .frm_focus_field
  input[type='text']:focus,
.frm_style_formidable-style.with_frm_style
  .frm_focus_field
  input[type='password']:focus,
.frm_style_formidable-style.with_frm_style
  .frm_focus_field
  input[type='email']:focus,
.frm_style_formidable-style.with_frm_style
  .frm_focus_field
  input[type='number']:focus,
.frm_style_formidable-style.with_frm_style
  .frm_focus_field
  input[type='url']:focus,
.frm_style_formidable-style.with_frm_style
  .frm_focus_field
  input[type='tel']:focus,
.frm_style_formidable-style.with_frm_style
  .frm_focus_field
  input[type='search']:focus,
.frm_form_fields_active_style,
.frm_style_formidable-style.with_frm_style
  .frm_focus_field
  .frm-card-element.StripeElement,
.frm_style_formidable-style.with_frm_style
  .chosen-container-single.chosen-container-active
  .chosen-single,
.frm_style_formidable-style.with_frm_style
  .chosen-container-active
  .chosen-choices {
  // background-color: transparent !important;
  // border-color: $white !important;
  // box-shadow: none;
  // color: $white;
  box-shadow: none;
  border-color: $primary;
  background: transparent;
}

textarea {
  resize: none;
}

// .frm_style_formidable-style ::-webkit-input-placeholder {
//   font-size: 0;
// }

// .frm_style_formidable-style :-ms-input-placeholder {
//   font-size: 0;
// }

// .frm_style_formidable-style ::placeholder {
//   font-size: 0;
// }

.frm_style_formidable-style.with_frm_style .frm_blank_field input[type='text'],
.frm_style_formidable-style.with_frm_style
  .frm_blank_field
  input[type='password'],
.frm_style_formidable-style.with_frm_style .frm_blank_field input[type='url'],
.frm_style_formidable-style.with_frm_style .frm_blank_field input[type='tel'],
.frm_style_formidable-style.with_frm_style
  .frm_blank_field
  input[type='number'],
.frm_style_formidable-style.with_frm_style .frm_blank_field input[type='email'],
.frm_style_formidable-style.with_frm_style .frm_blank_field textarea,
.frm_style_formidable-style.with_frm_style
  .frm_blank_field
  .mce-edit-area
  iframe,
.frm_style_formidable-style.with_frm_style
  .frm_blank_field
  select:not(.ui-datepicker-month):not(.ui-datepicker-year),
.frm_form_fields_error_style,
.frm_style_formidable-style.with_frm_style
  .frm_blank_field
  .frm-g-recaptcha
  iframe,
.frm_style_formidable-style.with_frm_style .frm_blank_field .g-recaptcha iframe,
.frm_style_formidable-style.with_frm_style
  .frm_blank_field
  .frm-card-element.StripeElement,
.frm_style_formidable-style.with_frm_style
  .frm_blank_field
  .chosen-container-multi
  .chosen-choices,
.frm_style_formidable-style.with_frm_style
  .frm_blank_field
  .chosen-container-single
  .chosen-single,
.frm_style_formidable-style.with_frm_style .frm_form_field :invalid {
  border-width: 0 0 2px 0 !important;
  background: none !important;
}

.form-label {
  display: flex;
  align-items: center;
  font-size: $font_size_20;
  font-family: $primary_bold;

  strong {
    font-size: 14px;
    font-family: $primary;
    margin-right: 60px;
  }
}

.form-select,
.frm_form_field select {
  background: transparent url(../images/drop-arrow.svg) no-repeat 100% center !important;

  &:focus {
    background: transparent url(../images/drop-arrow.svg) no-repeat 100% center !important;
  }

  option {
    color: $bodyColor;
  }
}

// .with_frm_style .frm_required {
//   color: $white;
// }

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: $secondary;
}

.menu__modal::-webkit-scrollbar {
  width: 6px;
}
.menu__modal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.menu__modal::-webkit-scrollbar-thumb {
  background-color: $white;
}

.form-check-label {
  font-size: 16px;
  line-height: 20px;

  a {
    &:hover {
      color: $primary !important;
    }
  }
}

input[type='date'] {
  @include devices(mobile-tablet) {
    width: 100%;
    border: none;
    height: 57px;
    background: $light_grey url(../images/angle-down-dark.svg) no-repeat 95%
      center !important;
    padding: 0 50px 0 24px;
    border-radius: 12px;
    font-family: $primary_bold;
    font-size: $font_size_20;
    appearance: none;
    -webkit-appearance: none;
  }
}
