// Theme colors
$primary: #be1622;
$secondary: #040404;
$bodyColor: #000000;
$darkGrey: #040404;
$white: #ffffff;
$black: #000000;
$red: #ef625b;
$cyan: #008a94;
$orange: #f9b000;
$purple__dark: #3b2048;
$pink: #fa74fc;
$green: #2ebd59;
$skyblue: #2cbde7;
$blue: #0a66c2;

$badge_yellow: #ac9977;
$badge_red: #cf4155;
$badge_orange: #f4b954;

$theme_blue: #7095b5;
$theme_blue_1: #042644;
$theme_blue_2: #06131f;

// Greay Shade
$light_grey: #e9e9e9;
$light_grey_1: #f9f9f9;
$light_grey_2: #9b9b9b;
$light_grey_3: #d9d9d9;
$light_grey_4: #ededed;
$light_grey_5: #dfdfdf;
$light_grey_6: #dddddd;
$light_grey_7: #585858;

// Font Size
$font_size_12: 0.75rem;
$font_size_14: 0.875rem;
$font_size_15: 0.938rem;
$font_size_16: 1rem;
$font_size_17: 1.063;
$font_size_18: 1.125rem;
$font_size_20: 1.25rem;
$font_size_22: 1.375rem;
$font_size_24: 1.5rem;
$font_size_26: 1.625rem;
$font_size_28: 1.75rem;
$font_size_30: 1.875rem;
$font_size_32: 2rem;
$font_size_34: 2.125rem;
$font_size_36: 2.25rem;
$font_size_40: 2.125rem;
$font_size_44: 2.75rem;
$font_size_46: 2.875rem;
$font_size_48: 3rem;
$font_size_50: 3.125rem;
$font_size_56: 3.5rem;
$font_size_64: 4rem;
$font_size_68: 4.25rem;
$font_size_70: 4.375rem;
$font_size_72: 4.5rem;
$font_size_76: 4.75rem;
$font_size_99: 6.188rem;

// Fonts

$primary_regular: 'dm_sansregular';
$primary_medium: 'dm_sansmedium';
$primary_bold: 'dm_sansbold';

$secondary_thin: 'josefin_sansthin';
$secondary_light: 'josefin_sanslight';
$secondary_regular: 'josefin_sansregular';
$secondary_semibold: 'josefin_sanssemibold';
$secondary_bold: 'josefin_sansbold';
